# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
/wp-admin/
/wp-content/*
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Themes whitelist
#/wp-content/themes

# Plugin whitelist
!wp-content/plugins/extrums-test

# Configuration
wp-config.php

# Logs
*.log

# htaccess
/.htaccess

# IDE
.vscode